* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    text-transform: capitalize;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    background-color: burlywood;
    justify-content: right;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-right: 20px; /* добавил отступ справа */
}

.navbar ul li {
    margin: 0 1rem;
}

main {
    margin-top: 120px; /* добавил отступ сверху, чтобы контент не перекрывался шапкой */
}

.section {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    flex: 1 0 30%; /* grow, shrink, basis */
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto; /* центрирует контейнер */
}

.section {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.section:nth-child(5) {
    grid-column: span 2;
}

footer {
    width: 100%;
    height: 50px;
    background-color: burlywood;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 20px; /* добавил отступы */
    box-sizing: border-box;
}

footer #RS img {
    width: 50px;
    height: 50px;
}